body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

header {
    background: #000000;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400px;
    color: #1af;
}

h1 {
    font-size: 32px;
    padding: 20px;
    margin: 0;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #1af;
    letter-spacing: -2px;
}

.contact-title {
    color: #1af;
}

canvas {

    display: flex;
    justify-content: center;
}

p {
    color: white;
    margin: 0 auto;
    padding: 20px;
}

lo a {
    color: #1af;
    text-decoration: none;
    padding: 0 10px;
    height: inherit;
}

li {
    background-color: #1b2127;
    padding: 0px 20px 0px 20px;

}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.inicio-title {
    color: red;
    margin: 0;
}

.header {
    background-color: white;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    display: flex;
}

.inicio {
    margin: 0;
    background: white;

}

.container {
    display: inherit;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-evenly;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
    height: inherit;

}

.change-color {
    display: inherit;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-evenly;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
    height: inherit;
    background: #1a2127;
}

.inicialized {
    background: #000000;
    margin: 0 auto;
}

h3 {
    text-transform: capitalize;
    color: red;
}

.contact-title {
    display: flex;
    justify-content: center;

    background: #1a2127;
    margin: 0;
    width: 980px;
    justify-content: flex-start;

    padding: 20px 0px 20px 20px;
}

.menu {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-image {
    display: flex;
    background: #1b2127;
    margin: 0 auto;
    justify-content: center;
}

.contact {
    background: white;
    display: inherit;
    width: inherit;
    margin: 0 auto;
}

input {
    border-radius: 5px;
}

.contact .input {
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../imagenes/logo.jpeg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    display: flex;
}

.contact {
    background-color: #1b2127;
    color: white;
    height: 80px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
}

.social-link {
    display: flex;
    width: 450px;
    height: 60px;
    margin: 0 20px;
    background-size: 50px 50px;
    background: #1b2127;
    justify-content: space-evenly;
}

.social-link.facebook {
    background-image: url('JGR/logo-facebook.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;

}

.social-link.instagram {
    background-image: url('JGR/logo-instagram.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.social-link.github {
    background-image: url('JGR/logo-github.png');
    background-size: 70px 60px;
    background-repeat: no-repeat;

}

.social-link.twitter {
    background-image: url('JGR/Logo-Twitter.png');
    background-size: 70px 50px;
    background-repeat: no-repeat;
}

.input {
    display: flex;
}

.social-link a {
    display: flex;
}

.contact-footer {
    background: white;
}